{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'trades/css/new_trade.css' %}">
{% endblock %}

{% block content %}

<form action="/new_trade" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {{ form.source.errors }}
    {{ form.source }}

    <div id="new_trade_container" class="container rounded">
        <div class="row">
            <!-- Sell column -->
            <div class="col-md-4 col-sm-12">
                <div>
                    {{ form.sell_currency.label_tag }}
                </div><div>
                    {{ form.sell_currency.errors }}
                </div><div>
                    {{ form.sell_currency }}
                </div>
                <div>
                    {{ form.sell_amount.label_tag }}
                </div><div>
                    {{ form.sell_amount.errors }}
                </div><div>
                    {{ form.sell_amount }}
                </div>
                <button type="submit" class="btn btn-primary float-left">Create</button>
            </div>
            <!-- Rate column -->
            <div class="col-md-4 col-sm-12">
                <div>
                    {{ form.rate.label_tag }}
                </div><div>
                    {{ form.rate.errors }}
                </div><div>
                    &#9658;
                    {% render_field form.rate readonly=True %}
                    &#9658;
                </div>
            </div>
            <!-- Buy column -->
            <div class="col-md-4 col-sm-12">
                <div class="text-right">
                    {{ form.buy_currency.label_tag }}
                </div><div class="text-right">
                    {{ form.buy_currency.errors }}
                </div><div class="text-right">
                    {{ form.buy_currency }}
                </div>
                <div class="text-right">
                    {{ form.buy_amount.label_tag }}
                </div><div class="text-right">
                    {{ form.buy_amount.errors }}
                </div><div class="text-right">
                    {% render_field form.buy_amount readonly=True %}
                </div>
                <button
                    type="submit" 
                    onclick="
                        window.location='{% url 'trades' %}';
                        return false;"
                    class="btn btn-warning float-right">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block javascript %}
<script src="{% static "trades/js/ajax_setup.js" %}"></script>
<!-- django vars-->
<script type=text/javascript>
    var get_rate_url = "{% url 'get_rate' %}"
</script>
<script src="{% static "trades/js/new_trade.js" %}"></script>
{% endblock %}