{% extends 'base.html' %}
{% load static %}

{% block content %}

<table>
    <tr>
        <th>Sell CCY</th>
        <th>Sell Amount</th>
        <th>Buy CCY</th>
        <th>Buy Amount</th>
        <th>Rate</th>
        <th>Date Booked</th>
    </tr>
    {% for item in trades_list %}
    <tr>
        <td>{{ item.sell_currency }}</td>
        <td>{{ item.sell_amount }}</td>
        <td>{{ item.buy_currency }}</td>
        <td>{{ item.buy_amount }}</td>
        <td>{{ item.rate }}</td>
        <td>{{ item.date_booked }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}