DEBUG=False # don't run with debug turned on in production!

WEBNAME=Foreign Exchange Trades

SECRET_KEY='[random alphanumeric string]'
ALLOWED_HOSTS=127.0.0.1,localhost

FIXER_API_KEY=***

SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
